#w_weixinmenu_table .th_menu_type {
  width:140px;
 }
 #w_weixinmenu_table .th_menu_name {
  width:180px;
 }
 #w_weixinmenu_table .th_menu_chufa {
  width:180px;
 }
 #w_weixinmenu_table .th_menu_content {
  width:320px;
 }
 
 #w_weixinmenu_table tbody tr td.td_menu_name{
  width:180px;
  max-width:180px;
  overflow: hidden;
 }

  #w_weixinmenu_table .new_add_tr  {
   background:#f1f2f3;
  }
 
  #w_weixinmenu_table .er_tr  {
   background:#f1f2f3;
  }
 
  #w_weixinmenu_table select,input{
  height:30px;
  border:1px solid #ddd;
  width:150px;
  text-indent:5px;
  border-radius:3px;
  }
  #w_weixinmenu_table .new_add_tr button {
 margin-right:10px;
}

   #w_weixinmenu_table .td_menu_type_er {
padding-left:35px;
}

.material-photo-form .description_box {
	height:120px;
}

/*                        素材展示通用样式                           */ 
.box_list_main .w_box {
float:left;
padding:10px;
height:200px;
margin-bottom:20px;
}
.box_list_main .w_box .box {
background: #f1f3f5;
height:200px;
box-shadow: 1px 1px 2px #ddd;
position: relative;
}
.box_list_main .w_box .box .cover_img {
height:170px;
width:100%;
}

.box_list_main .w_box .title_text {
margin:0;
height:30px;
line-height:30px;
width:100%;
overflow: hidden;
padding:0 5px;
}
.box_list_main .w_box .caozuo_box {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 30px;
background:rgba(255,255,255,0.7);
}
.box_list_main .w_box .caozuo_box a {
display: block;
height: 30px;
color: #333;
width: 33%;
text-align: center;
line-height: 30px;
text-decoration: none;
}
.box_list_main .w_box .caozuo_box a:hover {
background:#f1f3f5;
}
.box_list_main .w_box .top_a {
display:block;
}
.box_list_main .w_box .top_a:hover {
text-decoration:underline;
}

/*          图文回复         */
.field-replylist-reply  {
 height:450px;
}
.field-replylist-reply .material_list {
 height:450px;
  border:1px solid #eee;
  float:left;
  width:300px;
  margin-left:30px;
  background:;
  padding:10px;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.field-replylist-reply .material_list li{
font-size:12px;
color:#666;	
 height:30px;
 line-height:30px;
}

.field-replylist-reply .material_list li:hover{
background:#e8ebed;
}
.field-replylist-reply .material_list li p{
float:left;
width:220px;
height:30px;
overflow:hidden;
background:;
}
.field-replylist-reply .material_list li span{
width:40px;
height:30px;
display:block;
float:right;
text-align:center;
color:red;
cursor:pointer;
}
.field-replylist-reply .material_list li span:hover{
background:#bbb;
}
 
 
.field-replylist-reply .ajax_data {
  height:450px;

  float:right;
  width:510px;
  padding:0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.field-replylist-reply  .ajax_table thead tr .th_title {
width:400px;
overflow:hidden;
}
.field-replylist-reply  .ajax_table thead tr th{
border-bottom:none;
background:#f3f6f9;
}

.field-replylist-reply  .ajax_table thead tr th {
height:30px;
line-height:30px;
padding:0;
padding-left:10px;
}
.field-replylist-reply  .ajax_table tbody tr td {
height:28px;
line-height:28px;
padding:0;
padding-left:10px;
}


.field-replylist-reply  .ajax_page_list {
padding-left: 0;
margin:0;
}

.load_img {
	display:block;
	width:50px;
	height:50px;
	margin:50px auto;
}

.create_p .create_p_a_other {
	margin-left:20px;
}
.reply_auto-text_main .form_basic {
	margin-top:50px;
}
.reply-reply-auto-material .form_basic {
	margin-top:50px;
}
.wechant-t-m .xm_list li{
  float: left;
  width:200px;
  height: 50px;
  background: #e8ebed;
  margin:0px 20px 20px 0;
}
.wechant-t-m .xm_list li a{
  display: block;
  width:200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color:#000;
}
.wechant-t-m .xm_list li a:hover{
  background:#5bb75b; 
  color:#fff;
}




