.content{
 	padding:0 30px;
}
.content h1{
 	margin-top:30px;
	font-weight:700;
	line-height:40px;
}
.content p{
	line-height:40px;
}
 .service-suggestion .head{
 	margin:30px 0 40px 65px;
 }
 
 .service-suggestion #suggestion-content{
 	width:500px;
 	min-height:200px;
 }
 

