.account_basic .main_z{
 padding-top:80px;
 }
 .account_basic .main{
   width:1100px;
   margin:0 auto;
   min-height:400px; 
 }
 .account_basic .main .left_box{
   width:500px;
   float: left;
   min-height: 300px;
 }
 
 .account_basic .main .left_box .img_bg{
    width:420px;
    height:320px;
    border-radius:64px;
    background:url(../images/pc/login-420-320.jpg); 
    box-shadow: 0 0 2px #fbfbfb inset,0 0 4px #fbfbfb inset,0 0 8px #fbfbfb inset,0 0 16px #fbfbfb inset,0 0 32px #fbfbfb inset,0 0 64px #fbfbfb inset;
}
 .account_basic .main .right_box{
   width:450px;
   float: right;
   min-height: 300px;
 }
 .account_basic .right_box .title_p{
   height:60px;
   line-height:60px;
   text-align: center;
   font-size:20px;  
   color:#444;
 }
 .account_basic #login-form{
    width:300px; 
    margin:0 auto; 
 }
 .account_basic #login-form .form-control{
   height:40px;
   line-height:40px;
   width:100%;
   color:#888;
   border-radius:2px;
 }
 .account_basic #login-form .control-label {
    display: none;
}
 .account_basic .right_box .verifycode_box .box  {
	height:40px;
}
 .account_basic .right_box .verifycode_box input  {
	height:40px;
	width:180px;
	float:left;
}
 .account_basic #login-form .verifycode_box .form-control{
	width:180px;
 }
 .account_basic .right_box .verifycode_box .control-label  {
   display:none;
}
 .account_basic .right_box .verifycode_box .form-group {
   margin-bottom:10px;
}

 .account_basic .right_box .verifycode_box .image_box  {
   float:right;
   height:38px;
}

 .account_basic .right_box #loginform-rememberme{
   float:left;
}
 .account_basic .right_box .forget_pswd{
   float:right;
   height:35px;
   line-height:35px;
}

 .account_basic  .loginform_rememberme .my_rememberme_label{
   height:35px;
   line-height:35px;
   display:block;
   float:left;
   width:160px;
}
 .account_basic  .loginform_rememberme .my_rememberme_label input{
   height:12px;
   width:12px;
   display:block;
   margin-top:12px;
   float:left;
}
 .account_basic .w_group_submit button{
   width:310px;
   height:40px;
   font-size:18px;
   background:#22a0dc;
   color:#fff;
}

.account-register .main .right_box {
	min-height:400px;
	width:450px;
	background:#fff;
	margin-bottom:30px;
}
.account-register .right_box  .t1{
	font-size:20px;
	color:#000;
	text-align:center;
	line-height:60px;
}
.account-register .right_box  form{
	width:350px;
	margin-left:55px;
}

.account-register .right_box  label.control-label{
    display:none;
 }
.account-register .right_box  .form-control{
    width:350px;
    height:45px;
 }
.account-register .right_box  #student-phoneCode{
    width:150px;
    height:45px;
 }
 .account-register .one_f_warn {
	color:#a94442;
}
 
.account-register .right_box  .input-group-addon{
    width:200px;
   	padding:0;
   border-top-right-radius:2px;
   border-bottom-right-radius:2px;
 }
.account-register .right_box  .input-group-addon .sms_code,
.account-register .right_box  .input-group-addon .voice_code{
   		margin:0;
   	    height:43px;
   	    line-height:43px;
    	width:99px;
  	    cursor:pointer;
   		background:#f2f4f6;
 	}
 .account-register .right_box  .input-group-addon .disabled{
	 	cursor:default;
 	 }
 .account-register .right_box  .input-group-addon .line{
		width:1px;
		height:25px;
 		margin-top:10px;
 		border-left:solid 1px #ccc;
 	}
.account-register .right_box  .my_btn{
    width:350px;
    height:45px;
    font-size:18px;
 }

/* 登录界面2  */

.account-register2 .main .remain_box {
  min-height:400px;
  width:1000px;
  background:#fff;
  margin-bottom:30px;
  margin:0 auto;
  padding:20px 10px;
}
.account-register2  .main_z{
  padding-top:20px;
}
.account-register2  .t1{
  font-size:25px;
  color:#000;
  text-align:center;
  line-height:80px;
}
.account-register2 .remain_box  form{
  margin-left:55px;
}
.account-register2 .remain_box  .form-control{
    width:350px;
    height:45px;
 }
.account-register2 .remain_box .form-group{
    height:45px;
    clear:both;
 }
.account-register2 .remain_box .input-group{
    float:left;
 }
.account-register2 .remain_box .control-label{
    float:left;
    width:120px;
    display:inline-block;
    height:45px;
    text-align:right;  
    line-height:45px; 
 }
.account-register2 .remain_box .form-control{
    float:left;
    margin-left:10px;
 }
.account-register2 .remain_box .help-block{
    float:left;
    margin-left:10px;
    line-height:45px; 
    margin-top:0px;
 }
 

.account-register2 .remain_box  #student-phoneCode{
    width:150px;
    height:45px;
 }
 .account-register2 .one_f_warn {
  color:#a94442;
}
 
.account-register2 .remain_box  .input-group-addon{
    width:200px;
    padding:0;
   border-top-right-radius:2px;
   border-bottom-right-radius:2px;
 }
.account-register2 .remain_box  .input-group-addon .sms_code,
.account-register2 .remain_box  .input-group-addon .voice_code{
      margin:0;
        height:43px;
        line-height:43px;
      width:99px;
        cursor:pointer;
      background:#f2f4f6;
  }
 .account-register2 .remain_box  .input-group-addon .disabled{
    cursor:default;
   }
 .account-register2 .remain_box  .input-group-addon .line{
    width:1px;
    height:25px;
    margin-top:10px;
    border-left:solid 1px #ccc;
  }
.account-register2 .remain_box  .my_btn{
    width:350px;
    height:45px;
    font-size:18px;
 }
.account-register2 .submit_group{
    margin-left:130px;
    margin-top:30px;
    margin-bottom:30px;
 }

.account-register2 .f_chengdu2,.account-register2 .f_xueximudi2{
  display:none;
 }
 

 	/*----忘记密码----- */
.account-forget-password {
	padding-top:50px;
}

.account-forget-password  .forget_password_main {
	min-height:350px;
	width:1200px;
	margin:0 auto;
}
 
.account-forget-password .forget_password_main .t1 {
	font-size:20px;
	height:50px;
	line-height:50px;
	text-indent:410px;
	color:#000;
}
.account-forget-password .forget_password_main .forget_main {
margin:30px auto;
width:700px;
}

.account-forget-password .forget_password_main .form-group {
	width:700px;
	margin-top:20px;
	clear: both;
}
 
.account-forget-password .field-findpassword-verifycode .box {
	width:330px;
	float:left;
}
.account-forget-password .forget_password_main .form-group label {
  float: left;
  display: block;
  height: 40px;
  min-width: 100px;
  width: 100px;
  line-height: 40px;
  text-align: right;
  font-weight: normal;
}
.account-forget-password .forget_password_main .form-group .help-block {
  float: left;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-left:30px;
}
.account-forget-password .forget_password_main #findpassword-phone{
  float: left;
  display: block;
  height: 35px;
  line-height: 35px;
  width: 300px;
  margin-left: 30px;
}
.account-forget-password .field-findpassword-verifycode #findpassword-verifycode{
	width:170px;
	float:left;
	 margin-left: 30px;
}
.account-forget-password .forget_password_main  .submit_group {
  margin-left: 130px;
  margin-top:20px;
}
.account-forget-password .field-findpassword-verifycode  .box  .image_box{
	width:110px;
	height:35px;
	float:right;
	background:#566;
    border-radius:4px;
}
.account-forget-password .field-findpassword-verifycode  .box  .image_box img{
 border-radius:4px;
}
.account-forget-password .field-findpassword-verifycode  .box  .image_box img:hover{
	cursor:pointer;
}
.account-set-password {
	padding-top:50px;
} 
.account-set-password .set_password_main {
	min-height:350px;
	width:1200px;
	margin:0 auto;
}

.account-set-password .set_password_main .form_main {
 width:700px;
margin:0 auto;
margin-bottom:20px;
}

.account-set-password .set_password_main .form_main .t1 {
	font-size:20px;
	height:45px;
	line-height:45px;
	color:#000;
	text-indent:150px;
	margin-bottom:30px;
}
.account-set-password .form-group{
	clear: both;
	margin-top:20px;
	height:45px;
}
.account-set-password .form-group label {
  float: left;
  display: block;
  height: 45px;
  min-width: 100px;
  width: 100px;
  line-height: 45px;
  text-align: right;
  font-weight: normal;
}
.account-set-password .form-group .form-control{
	float: left;
  display: block;
  height: 45px;
  line-height: 45px;
  min-width: 150px;
  width: 350px;
  margin-left: 30px;
}
.account-set-password .form-group .my_f_warn {
  float: left;
  display: block;
  width:350px;
  height: 45px;
  line-height: 45px;
  margin-left:130px;
    color: #a94442;
}
.account-set-password .submit_group{
	margin-left:130px;
}
.account-set-password .field-phoneCode .input-group {
	float:left;
	width:350px;
	margin-left:30px;
}
.account-set-password .field-phoneCode   #phoneCode{
	width:80px;
	margin-left:0px;
}
.account-set-password .field-phoneCode .input-group .input-group-addon{
 	width:200px;
 	cursor:pointer;
 	background:#f2f4f6;
	padding:0;
}
.account-set-password .field-phoneCode  .input-group-addon .sms_code,
.account-set-password .field-phoneCode  .input-group-addon .voice_code{
   		margin:0;
		height:43px;
		line-height:43px;
		border-width:0;
    	width:99px;
  	    cursor:pointer;
 	}
 .account-set-password .field-phoneCode  .input-group-addon .disabled{
	 	cursor:default;
 	 }
.account-set-password .field-phoneCode  .input-group-addon .line{
		width:1px;
		height:25px;
 		margin-top:10px;
 		border-left:solid 1px #ccc;
 	}
	/*----end 忘记密码----- */
 
 
